.assignment-group{
    //padding: 2*$padding-base;
}
.assignment-edit {
  border-left: 10px #9C27B0 solid;
}
.assignment-create {
  border-left: 10px $secondary-color-a700 solid;
}
.assignment-review {
  border-left: 10px $primary-color-400 solid;
}

.assignment-block{ margin: 0 auto;}
.assignment{
    background-color: #fff;
    margin-bottom: 2rem;
    display: block;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &--review{ border-left-color: $primary-color-400; }

    //dialog
    &--dialog-view{
        border: none;
        border-radius: 0;
        margin-bottom: 0;

    }

    &__header{
        //background-color: $secondary-color-a700;
        padding: 3*$padding-base 3*$padding-base 0*$padding-base 3*$padding-base;
        display: flex;
        align-items: center;

            //dialog
            &--dialog-view{
            border: none;

            padding: 2*$padding-base 1*$padding-base 2*$padding-base 1*$padding-base;
            }


    }
    &__header-icon{
        //background-color: peachpuff;
        margin: 0 $padding-base 0 0;

        ng-md-icon{ fill: #616161;}
    }
    &__header-id{
        //background-color: lightyellow;
        flex:2;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #616161;
    }
    &__header-date{
        //background-color: lightgreen;
        justify-content: flex-end;
        margin: 0 0 0 $padding-base;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #616161;
    }



    &__main{
        //background-color: beige;
         padding: 3*$padding-base 3*$padding-base 5*$padding-base 3*$padding-base;
         display: flex;
         flex-direction: column;
         font-size: 14px;
         color: $text-color;

         @media (min-width: $layout-breakpoint-xs) { flex-direction: row;}


            //dialog
            &--dialog-view{
            padding: 1*$padding-base 1*$padding-base 5*$padding-base 1*$padding-base;
            }

    }

    &__main-details{
        //background-color: lightblue;
        flex: 2;
         padding: 0 4*$padding-base 0 0;

        .assignment-title{
            //background-color:lime;
            margin-top: 0;
            color: $text-color;
        }
        .assignment-subhead{
            margin-top: 0;
            margin-bottom: 1rem;


        }
    }
    &__main-aside{
        //background-color: lightgreen;
        flex: 0 0 1;
        padding: 3*$padding-base 0 0 0;



        @media (min-width: $layout-breakpoint-xs) {
            padding: 0 0 0 3*$padding-base;
            min-width: 200px;
            border-left: rgba(0,0,0,.1) 1px solid;
        }

        .button-assignment-open{ margin: 0; display: block; width: 100%; }
    }

     &__main-aside-count{
        //background-color: #eee;

        font-size: 18px;
        font-weight: 500;
        margin: 0 0 2*$padding-base 0;

        @media (min-width: $layout-breakpoint-xs) {
            text-align: center;
        font-size: 36px;
        font-weight: 400;
        }

        .aside-count-numerator{
            //background-color: lime;

        }
        .aside-count-divider{
            //background-color: purple;
            font-weight: 300;
            color: #666;
        }
        .aside-count-denominator{
            //background-color: pink;
        }
     }

     &__dialog-date{
        margin: 0 0;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: $primary-color;
    }

}



.badge-assignment{

    background-color: #00BCD4;
    position: absolute;
    top: -7px;
    right: -50px;
    width: 120px;
    color: #fff;
    padding: 15px 0 3px;
    z-index: 100;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    transform: rotate(45deg);


}


///
//create assignment

.md-datepicker-calendar-pane.md-pane-open{
background-color: rgba(255,255,255,1);
}
.assignment-create-group{}

.assignment-create{

    &__block{
        //background-color: pink;

       // margin: 0 0 4rem 0;
        //border: red 1px solid;
        padding: 4*$padding-base;
    }

    &__input-container{
        //background-color: yellow;
        display: block;
        margin: 1*$padding-base 0;

        md-input-container{ display: block;}
    }
    &__ctrl-holder{
        display: flex;
        flex-direction: column;
        margin: 0 0 2*$padding-base 0;

        @media (min-width: $layout-breakpoint-xs) {
            //background-color: lightblue;
            flex-direction: row;
            align-items: center;
        }

    }
    &__ctrl-holder-label{
        //background-color: thistle;
        padding-bottom: $padding-base;
         @media (min-width: $layout-breakpoint-xs) {
            flex: 0 0 15rem;
            padding-bottom:0;
        }
    }
    &__ctrl-holder-input{
        //background-color: lightgreen;
        md-input-container { display: block;}
        @media (min-width: $layout-breakpoint-xs) {
            flex: 2;
            md-input-container { display: inline-block;}
        }
    }

    &__criteria{
        //background-color: $primary-color-50;
        //padding: 3*$padding-base;
        margin: 3*$padding-base 0 0 0;
    }



    //section headers
    &__subheader{
        //background-color: red;
        margin: 0 0 2*$padding-base 0;
    }


}



//assignees
.assignment-user-list{
    &__item{
         padding: 2*$padding-base 0;
    }
}
.assignment-user-image{
    display: flex;
    align-items: center;
    margin: 0 2*$padding-base 0 0;


    img{
        width: 100%;
        height: auto;
        border-radius: 50%;
        max-width: 40px;
        background-color: #ccc;
    }
}




//count footer
.create-count-footer{
    display: flex;
    padding: 2*$padding-base 0;
    align-items: center;

    &__col{


        &--count{
            text-transform: uppercase;
            color: $primary-color;
            flex:2;
        }

        &--button{
            //background-color: lightyellow;
        }
    }
}








///sub list -- buttons
.assignment-user-submission-list-group{ }
.assignment-user-submission-list{
    &__item{
         padding: 0*$padding-base 0;
    }

    &__button{
        display: flex;
        width: 100%;
        padding: 2*$padding-base 0;
        align-items: center;
    }

    &__user-header{
    display: flex;
    width: 100%;
    padding: 2*$padding-base ;
    align-items: center;
    background-color: #fafafa;

    }


    &__user-subheader{
        background-color: #fff;
        color: $primary-color;
        font-weight: 500;
        border-top: rgba(0,0,0,0.12) 1px solid;
        padding: 3*$padding-base 2*$padding-base ;
    }

    &__name{

    }

    &__status{

        text-transform: uppercase;
        font-size: 14px;
    }

    &__check{
        margin: 0 1*$padding-base 0 0;
    }

}



.assignment-user-submission-list-aside-count{
    margin: 0 0 0 2*$padding-base;
}


.assignment-user-submission-image{
    display: flex;
    align-items: center;
    margin: 0 2*$padding-base 0 0;


    img{
        width: 100%;
        height: auto;
        border-radius: 50%;
        max-width: 40px;
        background-color: #ccc;
    }
}



////

.assignment-user-submission-buttons{
    //background-color: pink;
    padding: 2*$padding-base 0*$padding-base;
}











//empty

.assignment-empty{
    padding: 4*$padding-base;
}



////////////////sub page
.assignment-assignee-submission{
    padding: 2*$padding-base 0*$padding-base 3*$padding-base 0*$padding-base;
    border-top: rgba(0,0,0,.2) 1px solid;
}

.assignment-submission-group{

}

.assignment-submission-list{

    margin: 0;
    list-style: none;


    &__item{
        border: rgba(0,0,0,.2) 1px solid;
        display: flex;
        align-items: center;
        padding: 2*$padding-base;
        margin: 2*$padding-base 0;




        &--create{
            background-color: #fafafa;

        }


        .submission-list-details{
            flex: 2;
            padding-left: $padding-base;
        }
        .submission-list-id{

            display: block;

        }
        .submission-list-stem{
            display: table;
            table-layout: fixed;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 5*$padding-base 0 0;

        }
        .submission-list-stem-text{
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ccc;



        }
        .submission-list-status{
            text-transform: uppercase;
            color: #9E9E9E;
             display: block;
             font-size: 14px;

        }
        .submission-list-button-create{
            margin: 0;
        }
    }
}



.assignment-submission-button-group{}
.assignment-submission-button{

    padding: 0*$padding-base 0 0 0;
        margin: 4*$padding-base 0  4*$padding-base 0;

    &__button{
        margin: 0;
        padding-left: 4*$padding-base;
        padding-right: 4*$padding-base;
    }
}



.submission-list-button-create{
    //font-size: 15px;
}








//guide button

.assignment-submission-guide{

    &__button{
        text-transform: none;
        margin-left: 0;
        margin-right: 0;
    }
}










/////////
.submissions {
    &__status {


    }
    &__thumb {

    }
}
.due-date-expired {
    color: #c62828;
}



qb-display-comments {
    .md-list-item-text {
        padding: 5px 15px;
        .comment-wrapper {
            padding: 7px 10px;

            .by {

            }
            .on {

            }
            .comment {
                padding: 10px;
            }
        }
    }

}
.turn-in-dialog {
    .description {

        padding: 10px;
    }
    .item-list {
        span {


        }
    }
}
qb-assignment-submissions {

    md-card-content {

    }
    md-list-item {
        .md-icon {
            margin: auto 0;
        }
    }
    .status {
        text-align: right;
        margin: 0 37px;

    }
    #assigneeProfile {
        padding: 16px 50px;
        div:nth-child(3) {

            text-align: right;
        }
    }
    .assignee {
        md-list-item {
            padding: 10px 50px;
        }
        ng-md-icon {
            fill: #7D7D7D;
        }

    }
    md-card-footer {
        background: #EFEFEF;
        .md-button {

            margin: 13px 20px;
            float: right;
            padding: 2px 20px;
            border-radius: 0;
            color: #FFFFFC !important;
            background: #303F9F !important;
        }
        .return-btn {
            float: none;
            width: 150px;
        }
    }
}
.review-mine {
    md-card {
        width: 100%;
    }
    ng-md-icon[icon='thumb_down'], ng-md-icon[icon='thumb_up'] {
        fill: #7D7D7D;
        cursor: pointer;
    }
}
