// ---------------------------------------------------------------------------
// Banks
.bank-directory-group{
    padding: 2*$padding-base;
}
.bank-directory{ }


.bank-directory-table{ 
    background-color: #fff;

}



//
.bank-criteria-group-panel{
    margin-bottom: 3*$padding-base;
}
.bank-criteria-group{

    padding: $padding-base 0;
}


//
//create assignment


.bank-create-group{}

.bank-create{
    
    &__block{
        //background-color: pink;

       // margin: 0 0 4rem 0;
        //border: red 1px solid;
        padding: 4*$padding-base;
    }

    &__input-container{
        //background-color: yellow;
        display: block;
        margin: 1*$padding-base 0;

        md-input-container{ display: block;}
    }
    &__ctrl-holder{
        display: flex;
        flex-direction: column;
        margin: 0 0 2*$padding-base 0;

        

    }
    &__ctrl-holder-label{
        //background-color: thistle;
        padding-bottom: $padding-base;
         @media (min-width: $layout-breakpoint-xs) { 
            
        }
    }
    &__ctrl-holder-input{
        //background-color: lightgreen;
        md-input-container { display: block;}
        
    }

    &__criteria{
        //background-color: $primary-color-50;
        //padding: 3*$padding-base;
        margin: 3*$padding-base 0 0 0;
    }

        

    //section headers
    &__subheader{
        //background-color: red;
        margin: 0 0 2*$padding-base 0;
    }


}



//criteria

.bank-criteria{
    &__subheader{
        background-color: $primary-color-50;
        padding: $padding-base;
    }
    &__subheader-title{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: $primary-color;
    }
}    


















////////////////////
