@mixin background-size($prop) {
    -webkit-background-size: $prop;
    -moz-background-size: $prop;
    -ms-background-size: $prop;
    background-size: $prop;
}



@mixin font($font, $style, $weight,$size) {
    font-family: $font;
    font-style:  $style;
    font-weight: $weight;
    font-size: $size;
}



@mixin place-holder( $font, $style, $weight, $size) {
    ::-webkit-input-placeholder { 
        @include font($font, $style, $weight, $size);
    }
    ::-moz-placeholder {
        @include font($font, $style, $weight, $size);
    } 
    :-ms-input-placeholder {
        @include font($font, $style, $weight, $size);
    } 
    input:-moz-placeholder { 
        @include font($font, $style, $weight, $size);
    }
    ._md-select-placeholder span {
        @include font($font, $style, $weight, $size);
    }
}





// --- generator ---------------------------------------------------------------

@mixin media-query($args...) {
    $media-type: 'only screen';
    $media-type-key: 'media-type';
    $args: keywords($args);
    $expr: '';

    @if map-has-key($args, $media-type-key) {
        $media-type: map-get($args, $media-type-key);
        $args: map-remove($args, $media-type-key);
    }

    @each $key, $value in $args {
        @if $value {
            $expr: "#{$expr} and (#{$key}: #{$value})";
        }
    }

    @media #{$media-type} #{$expr} {
        @content;
    }
}

// --- screen ------------------------------------------------------------------

@mixin screen($min, $max, $orientation: false) {
    @include media-query($min-width: $min, $max-width: $max, $orientation: $orientation) {
        @content;
    }
}

@mixin max-screen($max) {
    @include media-query($max-width: $max) {
        @content;
    }
}

@mixin min-screen($min) {
    @include media-query($min-width: $min) {
        @content;
    }
}

@mixin screen-height($min, $max, $orientation: false) {
    @include media-query($min-height: $min, $max-height: $max, $orientation: $orientation) {
        @content;
    }
}

@mixin max-screen-height($max) {
    @include media-query($max-height: $max) {
        @content;
    }
}

@mixin min-screen-height($min) {
    @include media-query($min-height: $min) {
        @content;
    }
}