.dialog-content-group{ }
.dialog-content{ 
    padding: 2*$padding-base;

    md-tabs-content-wrapper { 
    min-height: 20rem;
    height: auto;
    }

    &__msg{
        padding: 3*$padding-base 0;
    }
}



.dialog-actions-group{
    width: 100%;
}

.dialog-actions{
     padding: 1*$padding-base 0*$padding-base  0*$padding-base 2*$padding-base;
}




//form elements

.dialog-form{
    &__input-container{
        width: 100%;
    }

    &__textarea{
        width: 100%;
        min-height: 4rem;
        overflow:hidden; //remove textarea scrollbar since div scrolls
    }
}


//tabs
//get tab content positioned directly under tabs
.dialog-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper{
    top: 0px;
}

.dialog-tab-content-pad-top{
    padding-top: 3*$padding-base;
}