.form-image-list{
	list-style: none;
	margin: 0;
	padding: 0;

	&__item{ 
	
	border-bottom: #eee 1px solid;
	

		md-radio-button{
			> ._md-container{ left: auto;}
			padding: 2*$padding-base;
				&:hover{ 
				background-color: $secondary-color-50;
				}
		}
		
	}

	&__item-block{
		display: flex;
		align-items: center;
	}
	&__thumb{
		margin: 0 2*$padding-base;
		
		
	}
	&__image-container{
		width: 80px;
		height: 80px;
		overflow: hidden;
	}
	&__image{
		width: 100%;
		height: auto;
		min-width: 80px;
		min-height: 80px;
		display: block;
	}

	&__details{
		flex: 2;
		width: 100%;
		
	}


}

//question lists

//display no checks

.question-display-list{ 
	&--bank-criteria-list{ 
		margin: 0 0 1rem 0;
		md-list-item:last-of-type > md-divider{ display: none;}
	}
	//background-color: green;
    &__item{ 
    	//background-color: yellow;
        padding: 3*$padding-base 2*$padding-base;

        &--less-pad{
        	padding: 1*$padding-base;
        }
    }


    &__text{
    	//background-color: pink;
    	flex: 2;
    	padding-right: 3*$padding-base;

    	h3{ font-size: 16px; font-weight: 400; }
    	p{ color: #ccc;}
    }
}

md-list-item.question-display-list__item{
	padding: 3*$padding-base 2*$padding-base; //weird inheritence
}

//checks
.question-select-list{ 
	//background-color: green;
    &__item{ 
    	
    }
    &__text{
    	
    	padding: 2*$padding-base 2*$padding-base 2*$padding-base 0;

    	h3{ font-size: 16px; font-weight: 400; }
    	p{ color: #ccc;}
    }
}