// ---------------------------------------------------------------------------
// Sidenav
//for safari
qb-sidenav{ height:100%;}

$sidenav-padding-base: 8px;
.sidenav{
    width: 272px;
    min-width: 272px;
    max-width: 272px;
    height:100%;

}
//header
.sidenav-header-group{
    position: relative;
    background-image: url(app/resources/images/client-profile-bg.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-color:$primary-color; 
    padding: $sidenav-padding-base;
    
    &:after{ 
    content: "";
    background: linear-gradient(to top,  rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
    display: block; 
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%; 
    height:100%;
    z-index: 0;
    }
}

.sidenav-header{ 
    position: relative; 
    z-index:1;
    padding: $sidenav-padding-base;
      &__image{ 
        margin-bottom: .5rem;
        img{ 
          width: 60px;
          height: 60px; 
          border-radius: 50%;
          }
    }


}

//button group for menu
.sidenav-user-button-group{

    .sidenav-user-button{ 
        width: 100%!important; 
        box-sizing: border-box;
        margin: 0;
        border-radius: 0;
        min-height: 40px;
        text-align: left;
        text-transform: none;

    }
    &__row{}
    &__col{ 
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 14px;

        &--name{ font-weight:400;}

        &--icon{
            text-align: right;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////



.md-button-sidenav{ 
    text-transform: none; 

    border-radius:0; 
    padding: 0 2*$sidenav-padding-base;
    color: #212121; 
    
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;

    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
    
    &:hover, &:focus{ color: #000; }

    &--child{
        padding: 0 2*$sidenav-padding-base 0 4*$sidenav-padding-base;
        font-weight: 400;
    }

}




.md-button-toggle .md-toggle-icon {


    
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;

  svg{ fill: rgba(0,0,0,.7);}
  
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);

}



.md-button-badge{
    margin-left: auto;
    speak: none;
    vertical-align: middle;

    > md-badge{
      background-color: $secondary-color;
      color: white;
      padding: 2px 4px;
      border-radius: 4px;

      &--warn{ background-color: #F44336;}
      &--info{ background-color: blue;}

     
    }


}







////noticiations

.notification-button{
    position: relative;


    &__badge{
        position: absolute;
        top: 0;
        right: 8px;

        > md-badge{
        font-size: 11px;
        background-color: $secondary-color;
        color: white;
        padding: 2px 4px;
        line-height: 1;
        border-radius: 4px;
        }
    }
}









