

.view-container, .view-frame, qb-question, .main-section {
    height: 100%;
}
qb-question > div ,
qb-question-tab > section,
qb-sidenav > section,
qb-question-create > section,
qb-question-edit > section,
qb-question-create > section,
qb-user-directory > section,
qb-user-profile-create > section,
qb-user-profile > section,
qb-question-revision > section,
qb-question-history > section,
qb-question-revision-view > section,
qb-create-assignments > section,
qb-assignments > section,
qb-assignment-details > section,
qb-question-review > section,
qb-assignment-history > section,
qb-create-bank > section,
qb-banks > section,
qb-question-preview > section {
    height: 100%;
}



md-tabs-content-wrapper {
    /*top: 48px;*/
    top: 0;
    position: relative;
    height: 100%;
    min-height: 90vh;
}

.clearDiv {
    clear: both;
    height: 50px;
}








#questionMenu {
    border-bottom: 1px solid #e1e1e1;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 25px;
    max-width: initial;
    min-width: 380px;
    width: 90%;
    p {
        text-transform: none !important;
    }
}
.qb-question-details_btn-container {
    padding-top: 26px;
}
#logoutMenu {
    overflow: hidden;
}
md-tab-content md-card {
    margin: 0 auto;
    width: 90%;
}
.white-toolbar {
    background: #FFF !important;
}
#searchInput{
    position: relative;
    input{
        outline: none;
        border: 0 !important;
        position: absolute;
        left: 10px;
        bottom: -3px;

    }
}
#tableHead {
    color: $black-color;


    .md-toolbar-tools {
        background: $secondary-color-50;
    }
}
.md-toolbar-tools {
    position: relative;
    @include max-screen($layout-breakpoint-xs) {
        font-size: 18px;
    }
}

md-menu-content {
    @include min-screen(960px){
        max-height: 385px;
    }
}
md-menu-item:focus{
    outline: none;
}
.layout-row:focus {
    outline: none;
}

.green {
    color: $green-color;


    text-transform: uppercase;
}
.restore-btn {
    .md-button {
        background-color: $green-color;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 0 20px;

    }
    .md-button:hover {
        background-color: #5aa874;
    }
}
.question-form {
    md-card {
        border-radius: 0;
        border: 1px solid #ccc;
        margin: 0 auto 10px auto;
        padding: 7px 35px 35px 35px;

    }

}
qb-question-create {
    .question-form {
        md-card {
            width: 100%;
        }
    }
    .create-que-wrapper {
        overflow: hidden;
        .content-wrapper {
            overflow: hidden;
            position: relative;
            height: 100%;
            min-height: 100vh;
            md-tabs-content-wrapper {
                top: 48px;
                position:absolute;
                height: initial;
                min-height: initial;
            }
        }
    }
}
md-select-menu {
    border: 1px solid #1665C1;
    md-option {
        padding: 0px 10px;
        /*color: #ccc;*/
        height: 30px;
        ._md-text {

        }
    }
}
.draggable {
    background:url(app/resources/images/drag.svg) no-repeat 100% 100%;
    height: 24px;
    width: 24px;
    cursor: move;
}
.container-drag {
    margin: 0 auto;
}
.choice-section {
    width: 100%;
    .draggable {
        margin: 7px;
        margin-top: 12px;
    }
    textarea {
        margin-top: 12px;
    }
    md-input-container {
        margin-right: 5px;
    }
}
qb-question-edit {
    md-card {
        width: 100%;
        md-radio-button[disabled] ._md-container ._md-off {
            border-color: #000;
        }
        md-checkbox ._md-container {
            top: 33%;
        }
    }
}
qb-question-add-multipleresponse {
    md-checkbox ._md-container {
        top: 33%;
    }
}

.delete-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #7D7D7D;
}
.add-section {
    position: relative;
    .delete-icon {
        right: 0px;
        top: -27px;
    }
}
.answer-key-container {
    background: #fff;
    padding: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    #answerForm {
        padding: 12px 38px;
        > div {

        }
        > div:first-child {
            padding: 32px 0;
        }
        md-radio-button {
            padding: 20px 0;
            margin: 0;
            height: 60px;
            outline: none !important;

        }
        .md-checked {
            background: #F1F8E9;
            cursor: auto;
        }
        ._md-on {
            background-color: #0F9D58;
        }

        md-radio-button.md-checked ._md-off {
            border-color: #0F9D58;
        }
        md-radio-group .md-checked .md-ink-ripple {
            color: rgb(63,81,181);
            margin: 0px 15px;
        }
        md-radio-group .md-ink-ripple {
            margin: 0px 15px;
        }

        md-radio-group {
            margin-bottom: 60px;
            ._md-label {
                padding: 0px 20px;
                width: 100%;
            }
            md-icon {
                position: absolute;
                right: 40px;
            }
        }
        .rationale {
            position: relative;
            padding: 15px 20px;
            .header-section {
                padding: 0 0 10px 0;
            }
            md-icon {
                cursor: pointer;
                right: 10px;
                position: absolute;
            }
            .edit {
                right: 40px;
            }
            div {

            }
        }
        .md-button:not([disabled]):hover {
            background: none;
        }
        md-list-item {
            padding: 20px 0 0 0;
            .md-list-item-text {
                width: 100%;

            }
            .md-button.md-primary {
                width: 120px;
            }
            .rationale {
                position: relative;
                padding: 15px 0;
            }
        }
        .checked {
            background: #F1F8E9;
            cursor: pointer;
            md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
                color: #0F9D58;
            }
        }
        md-checkbox ._md-label {
            width: 100%;
            md-icon {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
            background-color: #0F9D58;
        }
    }
}

.cancel-btn {
    background: rgb(63,81,181) !important;
    color: #FFF !important;
}
md-dialog-actions {
    padding: 0 20px 10px 0 !important;
}


.qn-tag {
    padding: 10px;
    background: #fff;
    border: 1px solid #CCC;
    margin: 15px auto;
    width: 90%;
    h3 {

    }
}

md-dialog {

    qb-table-search-bar md-toolbar {
        min-height: 50px;
        max-height: 50px;
    }


    td {
        height: 62px;
        border-top: 1px solid #ccc;
        background: #fff;
    }

    .checked md-checkbox.md-default-theme.md-checked .md-ink-ripple,
    .checked md-checkbox.md-checked .md-ink-ripple,
    md-checkbox.md-default-theme.md-checked .md-ink-ripple,
    md-checkbox.md-checked .md-ink-ripple {
        color: #303F9F;
    }
    md-checkbox.md-default-theme.md-checked ._md-icon,
    md-checkbox.md-checked ._md-icon {
        background-color: #303F9F;
    }
    md-radio-button.md-default-theme.md-checked .md-ink-ripple,
    md-radio-button.md-checked .md-ink-ripple {

    }
    md-menu {
        .md-button.md-icon-button[aria-label='review menu'] {
            width: 100%;
            border-radius: 0;
        }
    }
    md-pagination-wrapper {
        min-width: 100%;
    }
}

.question-info-form {
    width: 900px;
    min-height: 490px;
}

.left-align {
    padding: 0px 0px 0px 20px !important;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 17px;
    button {
        min-width: 120px;
    }
}
.empty {
    background: #F3F3F3;
    padding: 3*$padding-base;
    margin: 0 0 2*$padding-base 0;

}
.reference-wrapper {
    > div {
        position: relative;
        margin: 20px;
        md-input-container {
            margin: 0 10px;
        }
        button {
            padding: 0px 40px;
            height: 40px;
        }
        .clear {
            margin: 15px 0;
        }
    }
    .added-row {
        position: relative;
        span {
            padding: 0 15px;
        }
    }
}
.activity {
    .content {
        > div {
            padding: 15px;
            border:1px solid #ccc;
            margin: 10px;
            background-color: rgb(63,81,181);
            color: #fff;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                margin: 10px;
                md-expansion-panel {
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}
.asterisk_input:after {
    content:" *";
    color: #e32;
    position: absolute;
    margin: 0px 0px 0px -20px;
    font-size: 14px;
    padding: 0 5px 0 0;
}


.export-btn {
    width: 150px;
    margin: 8px 0px;
    border-radius: 0;

}
.md-summary {
    text-transform: uppercase;
}


.content {
    width: 90%;
    margin: 60px auto;
    background: #EEE;
}
.header-section {
    text-align: center;

    h3 {
        font-size: 25px;
        color: #676161;

    }
    div {
        padding: 10px;
        width: 320px;
    }

}
.recovery-form md-card {
    margin: 10px;
    margin-top: 0 !important;

    text-align: center;

}



md-table-pagination md-select md-select-value{
    text-align: center;
    span {
        width: 100%;
    }
}
.md-pagination-select md-option ._md-text{
    margin: 0 auto;
}
md-card {
    qb-question-display-image {
        img {
            padding: 7px;
            height: 220px !important;
            width: auto !important;
            text-align: center;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}
#clearBtn {
    svg {
        position: fixed;
    }
}
.category {
    margin: 20px auto;
}
#board {
    min-height: 100%;
}

._md-select-menu-container._md-active md-select-menu md-select-header {

    padding: 10px;
}
.role-list md-select-value div {
    display: inline-block;
}
.md-input-message-animation {
    min-height: 20px;
}
.custom-id {
    color: #484343;
}
.custom-text {
    color: #7D7D7D;
    padding: 10px 10px 0px 0px;
}
.stem-style {
    color: #BDBDBD;
}
.status {
    text-transform: uppercase;
}
._md-open-menu-container._md-active {
    margin-top: 40px;
}

ng-md-icon[icon='keyboard_backspace'] {
    margin: 0 10px;
    cursor: pointer;
    svg {
        width: 50px;
        height: 34px;
        margin: -5px 0;
    }
}
.no-items {

    margin: 10px 0;
    background: #EFEFEF;
    padding: 25px 13px;
    height: 71px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    button {
        float: right;
        background: #C5CAE9;
        margin-top: -7px;
    }
}



.label-padding {
    padding: 10px 0;
}

md-input-container .ng-active .md-input-message-animation:not(.ng-animate) {
    opacity: 1;
    margin-top: 0;
}
md-list-item {
    .md-button {
        z-index: 1;
    }
}
.mce-combobox .mce-btn {

}
.mce-combobox input[type='text'] {
    width: 95% !important;
    pointer-events: none; 
}
