// ---------------------------------------------------------------------------
// User Directory
.user-directory-group{
	padding: 2*$padding-base;
}
.user-directory{ }


.user-directory-table{ 
	background-color: #fff;
}


.table-user-image-group{ 
	//background-color: peachpuff;
	display: flex;
	align-items: center;
  	//justify-content: center;


  	img{ 
  		width: 100%; 
		height: auto;
		border-radius: 50%;
		max-width: 40px;
		background-color: #ccc;
  	}
}

.table-user-image{
	//background-color: lime;
	flex-shrink: 0;
	padding:  $padding-base 2*$padding-base $padding-base 0;
}

.table-user-name{
	//background-color: orange;
	//max-width:200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}


//menu

.user-directory-menu-group{

}
.user-directory-menu{ 
	background-color: $secondary-color;
	padding: $padding-base $padding-base;
	width: 100%;

	border-radius: 2px 2px 0 0 ;
	min-height: 7*$padding-base;

	//margin-bottom: 2*$padding-base;
}

.directory-menu-button{ 
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 500;
	color:#fff;

	.ud-menu-icon{
		padding-left: $padding-base/2;
		 svg{ fill: rgba(255,255,255,.7);}
		}
}

.directory-menu-select{
	color: #fff;

	._md-select-value{ border-color: transparent!important;}

	&:focus{ 
		._md-select-value{ color: #fff!important;}
	}
}


.directory-menu-sub{
	background-color: $secondary-color-50;
	padding: 2*$padding-base ;
}